<!-- model_picker.html -->
{% macro model_picker(models, selected_model) %}
<form>
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Pick a model for this chat</h2>

            <div class="form-control">
                {% for model in models %}
                <label
                    class="label cursor-pointer border rounded-lg mb-2 p-4 hover:bg-base-200 transition-colors has-[:checked]:border-primary has-[:checked]:bg-base-200">
                    <div class="flex flex-col">
                        <span class="label-text font-bold text-lg">{{ model.0 }}</span>
                        <span class="label-text-alt text-base">{{ model.2 }}</span>
                    </div>
                    <input type="radio" name="model" value="{{ model.1 }}" class="radio radio-primary" {% if
                        model.1==selected_model.1 %}checked{% endif %} />
                </label>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endmacro %}